# Build results
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vscode/
.vs/

# Test files
test*.docx
merged*.docx
output*.docx
*_demo.docx

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log

# NuGet packages
*.nupkg
packages/
